name: Build Image

on: 
  schedule:
  - cron:  "0 0 * * 0"
  push:
  workflow_dispatch:

env:
  ENDPOINT: "rix1337/docker-ripper"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: whoan/docker-build-with-cache-action@v5
        with:
          username: "${{ secrets.DOCKERUSER }}"
          password: "${{ secrets.DOCKERPASS }}"
          image_name: "${{ env.ENDPOINT }}"
          image_tag: latest
          context: "./latest"
          stages_image_name: "rix1337/cache-ripper-latest"
