name: Build Image with MakeMKV from manual build

on:
  push:
    paths-ignore:
      - 'latest/**'
  workflow_dispatch:

env:
  ENDPOINT: "rix1337/docker-ripper"

jobs:
  version-check:
    runs-on: ubuntu-latest
    outputs:
      output: ${{ steps.get-version.outputs.version }}
    steps:
      - id: get-version
        run: | 
          VERSION=$(curl --silent 'https://forum.makemkv.com/forum/viewtopic.php?f=3&t=224' | grep MakeMKV.*.for.Linux.is | head -n 1 | sed -e 's/.*MakeMKV //g' -e 's/ .*//g')
          echo $VERSION
          echo "version=$VERSION" >>$GITHUB_OUTPUT
          
  build:
    runs-on: ubuntu-latest
    needs: version-check
    steps:
      - uses: actions/checkout@v3
      - uses: whoan/docker-build-with-cache-action@v5
        with:
          username: "${{ secrets.DOCKERUSER }}"
          password: "${{ secrets.DOCKERPASS }}"
          image_name: "${{ env.ENDPOINT }}"
          image_tag: manual-latest,${{needs.version-check.outputs.output}}
          context: "./"
          dockerfile: "./manual-build/Dockerfile"
          stages_image_name: "rix1337/cache-ripper-manual-build"
